USE [one_connector]
GO
/****** Object:  Table [dbo].[mapping_field]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapping_field](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_mapping_table] [int] NOT NULL,
	[entity_field_name] [nvarchar](256) NOT NULL,
	[cabinet_field_name] [nvarchar](256) NOT NULL,
	[entity_type_name] [nvarchar](128) NULL,
	[cabinet_type_name] [nvarchar](128) NULL,
	[entity_type_long] [int] NULL,
	[cabinet_type_long] [int] NULL,
	[created_by] [char](36) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [char](36) NOT NULL,
	[is_key] [bit] NOT NULL,
	[key_order] [int] NULL,
 CONSTRAINT [pk_mapping_field] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_oc_mapping_field_entity_field] UNIQUE NONCLUSTERED 
(
	[id_mapping_table] ASC,
	[entity_field_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mapping_table]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapping_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_name] [nvarchar](256) NOT NULL,
	[cabinet_name] [nvarchar](256) NOT NULL,
	[entity_code] [nvarchar](64) NOT NULL,
	[entity_type] [nvarchar](32) NOT NULL,
	[cabinet_code] [nvarchar](64) NOT NULL,
	[cabinet_type] [nvarchar](32) NOT NULL,
	[created_by] [char](36) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [char](36) NOT NULL,
	[code] [nvarchar](64) NOT NULL,
	[description] [nvarchar](512) NULL,
 CONSTRAINT [pk_mapping_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_oc_mapping_table_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_oc_mapping_table_entity_cabinet] UNIQUE NONCLUSTERED 
(
	[entity_code] ASC,
	[entity_type] ASC,
	[entity_name] ASC,
	[cabinet_code] ASC,
	[cabinet_type] ASC,
	[cabinet_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[setting]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting](
	[type] [nvarchar](32) NOT NULL,
	[code] [nvarchar](64) NOT NULL,
	[description] [nvarchar](512) NULL,
	[key] [nvarchar](64) NOT NULL,
	[value] [nvarchar](2048) NULL,
	[created_by] [char](36) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [char](36) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [pk_setting] PRIMARY KEY CLUSTERED 
(
	[type] ASC,
	[code] ASC,
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[synchronization]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[synchronization](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[direction] [nvarchar](16) NOT NULL,
	[source] [nvarchar](256) NOT NULL,
	[destination] [nvarchar](256) NOT NULL,
	[created_by] [char](36) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [char](36) NOT NULL,
	[id_mapping_table] [int] NOT NULL,
	[code] [nvarchar](64) NOT NULL,
	[description] [nvarchar](512) NULL,
	[status] [nvarchar](16) NULL,
	[max_retries] [int] NOT NULL,
	[timeout_seconds] [int] NOT NULL,
	[recurrence_enabled] [bit] NOT NULL,
	[recurrence_type] [nvarchar](16) NULL,
	[recurrence_time] [time](7) NULL,
	[interval_value] [int] NULL,
	[interval_unit] [nvarchar](16) NULL,
	[timezone] [nvarchar](64) NULL,
	[recurrence_mondays] [bit] NOT NULL,
	[recurrence_tuesdays] [bit] NOT NULL,
	[recurrence_wednesdays] [bit] NOT NULL,
	[recurrence_thursdays] [bit] NOT NULL,
	[recurrence_fridays] [bit] NOT NULL,
	[recurrence_saturdays] [bit] NOT NULL,
	[recurrence_sundays] [bit] NOT NULL,
 CONSTRAINT [pk_synchronization] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_synchronization_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[synchronization_filter]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[synchronization_filter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[synchronization_id] [int] NOT NULL,
	[field_name] [nvarchar](128) NOT NULL,
	[operator] [nvarchar](16) NOT NULL,
	[value] [nvarchar](512) NULL,
	[logical_operator] [nvarchar](8) NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_by] [char](36) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [char](36) NOT NULL,
 CONSTRAINT [pk_synchronization_filter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[synchronization_record]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[synchronization_record](
	[id] [uniqueidentifier] NOT NULL,
	[synchronization_id] [int] NOT NULL,
	[last_run_id] [uniqueidentifier] NOT NULL,
	[docuware_id] [nvarchar](128) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[entity_id] [nvarchar](512) NOT NULL,
	[error] [nvarchar](max) NULL,
 CONSTRAINT [pk_synchronization_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_synchronization_record_entity] UNIQUE NONCLUSTERED 
(
	[synchronization_id] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[synchronization_run]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[synchronization_run](
	[id] [uniqueidentifier] NOT NULL,
	[synchronization_id] [int] NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[start_at] [datetime2](6) NOT NULL,
	[completed_at] [datetime2](6) NULL,
	[error_message] [nvarchar](max) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[records_inserted] [int] NOT NULL,
	[records_updated] [int] NOT NULL,
 CONSTRAINT [pk_synchronization_run] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user]    Script Date: 9/25/2026 2:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [char](36) NOT NULL,
	[username] [nvarchar](128) NOT NULL,
	[password_hash] [nvarchar](512) NOT NULL,
	[display_name] [nvarchar](256) NULL,
	[email] [nvarchar](256) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[last_login_at] [datetime2](6) NULL,
 CONSTRAINT [pk_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_user_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[mapping_field] ADD  CONSTRAINT [df_mapping_field_created_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [created_by]
GO
ALTER TABLE [dbo].[mapping_field] ADD  CONSTRAINT [df_mapping_field_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mapping_field] ADD  CONSTRAINT [df_mapping_field_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mapping_field] ADD  CONSTRAINT [df_mapping_field_updated_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [updated_by]
GO
ALTER TABLE [dbo].[mapping_field] ADD  CONSTRAINT [DF_mapping_field_is_key]  DEFAULT ((0)) FOR [is_key]
GO
ALTER TABLE [dbo].[mapping_table] ADD  CONSTRAINT [df_mapping_table_created_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [created_by]
GO
ALTER TABLE [dbo].[mapping_table] ADD  CONSTRAINT [df_mapping_table_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mapping_table] ADD  CONSTRAINT [df_mapping_table_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mapping_table] ADD  CONSTRAINT [df_mapping_table_updated_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [updated_by]
GO
ALTER TABLE [dbo].[setting] ADD  CONSTRAINT [df_setting_created_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [created_by]
GO
ALTER TABLE [dbo].[setting] ADD  CONSTRAINT [df_setting_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[setting] ADD  CONSTRAINT [df_setting_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[setting] ADD  CONSTRAINT [df_setting_updated_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [updated_by]
GO
ALTER TABLE [dbo].[setting] ADD  CONSTRAINT [df_setting_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_created_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [created_by]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_updated_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [updated_by]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_max_retries]  DEFAULT ((3)) FOR [max_retries]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_timeout_seconds]  DEFAULT ((300)) FOR [timeout_seconds]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_enabled]  DEFAULT ((0)) FOR [recurrence_enabled]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_mondays]  DEFAULT ((0)) FOR [recurrence_mondays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_tuesdays]  DEFAULT ((0)) FOR [recurrence_tuesdays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_wednesdays]  DEFAULT ((0)) FOR [recurrence_wednesdays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_thursdays]  DEFAULT ((0)) FOR [recurrence_thursdays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_fridays]  DEFAULT ((0)) FOR [recurrence_fridays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_saturdays]  DEFAULT ((0)) FOR [recurrence_saturdays]
GO
ALTER TABLE [dbo].[synchronization] ADD  CONSTRAINT [df_synchronization_recurrence_sundays]  DEFAULT ((0)) FOR [recurrence_sundays]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_logical_operator]  DEFAULT ('AND') FOR [logical_operator]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_created_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [created_by]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[synchronization_filter] ADD  CONSTRAINT [df_sync_filter_updated_by]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [updated_by]
GO
ALTER TABLE [dbo].[synchronization_record] ADD  CONSTRAINT [df_synchronization_record_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[synchronization_record] ADD  CONSTRAINT [df_synchronization_record_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[synchronization_record] ADD  CONSTRAINT [df_synchronization_record_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[synchronization_run] ADD  CONSTRAINT [df_synchronization_run_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[synchronization_run] ADD  CONSTRAINT [df_synchronization_run_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[synchronization_run] ADD  CONSTRAINT [df_synchronization_run_records_inserted]  DEFAULT ((0)) FOR [records_inserted]
GO
ALTER TABLE [dbo].[synchronization_run] ADD  CONSTRAINT [df_synchronization_run_records_updated]  DEFAULT ((0)) FOR [records_updated]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [df_user_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[mapping_field]  WITH CHECK ADD  CONSTRAINT [fk_mapping_field_table] FOREIGN KEY([id_mapping_table])
REFERENCES [dbo].[mapping_table] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mapping_field] CHECK CONSTRAINT [fk_mapping_field_table]
GO
ALTER TABLE [dbo].[synchronization]  WITH CHECK ADD  CONSTRAINT [fk_synchronization_mapping] FOREIGN KEY([id_mapping_table])
REFERENCES [dbo].[mapping_table] ([id])
GO
ALTER TABLE [dbo].[synchronization] CHECK CONSTRAINT [fk_synchronization_mapping]
GO
ALTER TABLE [dbo].[synchronization_filter]  WITH CHECK ADD  CONSTRAINT [fk_sync_filter_synchronization] FOREIGN KEY([synchronization_id])
REFERENCES [dbo].[synchronization] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[synchronization_filter] CHECK CONSTRAINT [fk_sync_filter_synchronization]
GO
ALTER TABLE [dbo].[synchronization_record]  WITH CHECK ADD  CONSTRAINT [fk_synchronization_record_last_run] FOREIGN KEY([last_run_id])
REFERENCES [dbo].[synchronization_run] ([id])
GO
ALTER TABLE [dbo].[synchronization_record] CHECK CONSTRAINT [fk_synchronization_record_last_run]
GO
ALTER TABLE [dbo].[synchronization_record]  WITH CHECK ADD  CONSTRAINT [fk_synchronization_record_synchronization] FOREIGN KEY([synchronization_id])
REFERENCES [dbo].[synchronization] ([id])
GO
ALTER TABLE [dbo].[synchronization_record] CHECK CONSTRAINT [fk_synchronization_record_synchronization]
GO
ALTER TABLE [dbo].[synchronization_run]  WITH CHECK ADD  CONSTRAINT [fk_synchronization_run_synchronization] FOREIGN KEY([synchronization_id])
REFERENCES [dbo].[synchronization] ([id])
GO
ALTER TABLE [dbo].[synchronization_run] CHECK CONSTRAINT [fk_synchronization_run_synchronization]
GO
ALTER TABLE [dbo].[synchronization]  WITH CHECK ADD  CONSTRAINT [chk_synchronization_status] CHECK  (([status] IS NULL OR ([status]='failed' OR [status]='success')))
GO
ALTER TABLE [dbo].[synchronization] CHECK CONSTRAINT [chk_synchronization_status]
GO
ALTER TABLE [dbo].[synchronization]  WITH CHECK ADD  CONSTRAINT [ck_synchronization_recurrence] CHECK  (([recurrence_enabled]=(0) OR ([recurrence_type]=N'INTERVAL' OR [recurrence_type]=N'WEEKLY' OR [recurrence_type]=N'DAILY') AND [timezone] IS NOT NULL AND (([recurrence_type]=N'WEEKLY' OR [recurrence_type]=N'DAILY') AND [recurrence_time] IS NOT NULL OR [recurrence_type]=N'INTERVAL' AND [interval_value]>(0) AND ([interval_unit]=N'DAY' OR [interval_unit]=N'HOUR' OR [interval_unit]=N'MINUTE'))))
GO
ALTER TABLE [dbo].[synchronization] CHECK CONSTRAINT [ck_synchronization_recurrence]
GO
ALTER TABLE [dbo].[synchronization_run]  WITH CHECK ADD  CONSTRAINT [ck_synchronization_run_counts] CHECK  (([records_inserted]>=(0) AND [records_updated]>=(0)))
GO
ALTER TABLE [dbo].[synchronization_run] CHECK CONSTRAINT [ck_synchronization_run_counts]
GO
ALTER TABLE [dbo].[synchronization_run]  WITH CHECK ADD  CONSTRAINT [ck_synchronization_run_status] CHECK  (([status]=N'failed' OR [status]=N'success' OR [status]=N'running' OR [status]=N'pending'))
GO
ALTER TABLE [dbo].[synchronization_run] CHECK CONSTRAINT [ck_synchronization_run_status]
GO
ALTER TABLE [dbo].[synchronization_run]  WITH CHECK ADD  CONSTRAINT [ck_synchronization_run_times] CHECK  (([completed_at] IS NULL OR [completed_at]>=[start_at]))
GO
ALTER TABLE [dbo].[synchronization_run] CHECK CONSTRAINT [ck_synchronization_run_times]
GO
